In [ ]:
# There are lots of numbers and symbols you don't really understand, but apparently any number adjacent to a symbol, even diagonally, is a "part number" and should be included in your sum. (Periods (.) do not count as a symbol.)

In [64]:
import pandas as pd
df = pd.read_csv(
            r'C:\Users\SA012547\Documents\advent_of_code_2023\day3.txt',sep=':', encoding='latin-1', header=None) #['nb_game', 'liste_cube'])
# df = pd.read_csv(
#             r'C:\Users\SA012547\Documents\advent_of_code_2023\day3 - Copie.txt',sep=':', encoding='latin-1', header=None)

In [65]:
df.columns=['nb']

In [66]:
# on extrait déjà les nb directement à droite et gauche des symboles
rl=df['nb'].replace(r'[^a-zA-Z0-9\.]', '##', regex=True)
rl=rl.str.extractall(r'(\d+[^a-zA-Z0-9\.]|[^a-zA-Z0-9\.]\d+)') #|([^a-zA-Z0-9\.]\d+
rl.columns=['sym_nb']

# rl=rl.groupby(rl.index.get_level_values(0)).agg(list)
rl=rl['sym_nb'].replace('r[^\d]', '', regex=True)
rl_no_spec=rl.str.findall(r'\d+').str.join(',')
df['rl']=rl.groupby(rl.index.get_level_values(0)).agg(list)
df['rl_no_spec']=rl_no_spec.groupby(rl_no_spec.index.get_level_values(0)).agg(list)

In [67]:
# on supprime les valeurs trouvées dans la ligne 1 ?
# on ajoute juste les caract spéciaux dans ligne avant puis ligne après?

In [68]:
df['rl']=df['rl'].fillna('')
df['rl_no_spec']=df['rl_no_spec'].fillna('')

In [69]:
# on enlève les chiffres déjà comptés
a = df['rl_no_spec']
v = list(df.loc[:,'nb'].values)
it =0

while it<len(v):
    new_v = v[it]
    for item in a[it]:
#         print('for ', item, ' in ',a[it])
        rep="."*len(item)
# #         print(new_v)
        new_v=new_v.replace(item, rep)
    v[it]=new_v
    it+=1
df['rl_clean']=v

In [70]:
# "on remplace pour etre sur des symboles ajoutés"
df['rl_clean']=df['rl_clean'].replace(r'[^a-zA-Z0-9\.]','@', regex=True)

In [71]:
# on récupère les symboles de la col nb que l'on place dans la ligne l+1 de rl_clean (idx -1, +1, +3) car à l'ajout tout se décale
original = list(df.loc[:,'rl_clean'].values)
mod_next_line = list(df.loc[:,'rl_clean'].values)

# "on remplace pour etre sur des syboles ajoutés"

# mod_prev_line = list(df.loc[:,'rl_clean'].values)
# on prend la col avec tjrs le mm charac special
to_find = '@'
it=0
idx_list = []

In [72]:
def insertChar(mystring, position, chartoinsert ):
    mystring   =  mystring[:position] + chartoinsert + mystring[position:] 
    return mystring

In [73]:
# original = '490#..........................350...#...664........806..................#..#...514.31...#..........#25....#.................83..............'
# mod_next_line = '....245...............805...........467.......449...+..............313*....115....*.......611.343............$...237..229...................'

# ok car pas de signe dernière ligne

it=0
while it<len(original):
    new_v = original[it]
    idx_list= [int(i) for i, x in enumerate(new_v) if x == to_find]
#     print(idx_list)
#     if mod_next_line[it+]<len(original)-1:
    if not len(idx_list)==0:
#         print('not 0')
        idx=0
        while idx < len(idx_list):
#             print(idx, idx_list[idx])
#         for idx in idx_list:
            first_idx = 0
            second_idx = 2
#             third_idx = 3
#             try:
            mod_next_line[it+1] = insertChar(mod_next_line[it+1], idx_list[idx] + first_idx + idx*2, '#' )
            mod_next_line[it+1] = insertChar(mod_next_line[it+1], idx_list[idx] + second_idx+ idx*2, '#' )
#             mod_next_line[it+1] = insertChar(mod_next_line[it+1], idx_list[idx] + third_idx+ idx*3, '#' )
#             print(idx_list[idx] + first_idx + idx*3, idx_list[idx] + second_idx+ idx*3, idx_list[idx] + third_idx+ idx*3)
#             except:
#                 print('last line')
            idx+=1
    it+=1

In [74]:
df['special_on_next_line']=mod_next_line

In [75]:
rl_next=df['special_on_next_line'].replace(r'[^a-zA-Z0-9\.]', '##', regex=True)

In [76]:
rl_next=df['special_on_next_line'].replace(r'[^a-zA-Z0-9\.]', '##', regex=True)
# doublée car souci quand 3.3.3
rl_next=rl_next.replace(r'\.\d+\.\d+\.|\.\d+\.|^\d+\.|\.\d+$','.', regex=True)
rl_next=rl_next.replace(r'\.\d+\.\d+\.|\.\d+\.|^\d+\.|\.\d+$','.', regex=True)
rl_next=rl_next.replace(r'##+','', regex=True)
# rl_next=rl_next.replace(r'[^a-zA-Z0-9\.]','#', regex=True)
rl_next=rl_next.str.findall(r'\d+').str.join(',')

In [77]:
df['nb_special_on_next_line']=rl_next.groupby(rl_next.index.get_level_values(0)).agg(list)
df['nb_special_on_next_line'] = [','.join(map(str, l)) for l in df['nb_special_on_next_line']]
df['nb_special_on_next_line'] = df['nb_special_on_next_line'].str.split(',')


# pour éliminer exactement seulement:
rl_next_spe=df['special_on_next_line']
rl_next_spe=df['special_on_next_line'].replace(r'\d+[^a-zA-Z0-9\.]*\d+[^a-zA-Z0-9\.]*\d+','.', regex=True)

In [78]:
df['list_1']=df['rl_no_spec']

In [79]:
import re
# a revoir fonctionne si encadré sinon non... ou alors on ajoute un point au début et à la fin de chaque ligne ;)
# on enlève les chiffres déjà comptés
a = df['nb_special_on_next_line']
v = list(df.loc[:,'rl_clean'].values)
it =0

while it<len(v):
    new_v = v[it]
    for item in a[it]:
        if not item==0:
#             print('for ', item, ' in ',a[it])
            rep="."*len(item)
#             print(item)
            # on remplace les chiffres s'ils sont bien entre 'dot' ou lors au début ou fin de ligne
#             new_v=new_v.replace(r'.'+item+r'.|^'+item +'|' +item+'$', rep)
#             new_v=new_v.replace(r'^'+item, rep)
#             new_v=new_v.replace(item + r'$', rep)
#             new_v=new_v.replace(r'.'+item+r'.', '.'+rep+'.')
            new_v = re.sub(r'\.'+item+r'\.', rep+'..', new_v)
            new_v = re.sub(r'\.'+item+'$', rep+'.', new_v)
            new_v = re.sub(r'^'+item +'\.', rep+'.', new_v)
#             new_v = re.sub(r'.'+item+r'\.|^'+item +'\.|\.' +item+'$', 'lala', new_v)
    v[it]=new_v
    it+=1
df['rl_next_clean']=v
df['len']=len(df['rl_next_clean'])

In [80]:
df['rl_no_spec'][0]
rl_no_spec_nb = df['rl_no_spec']

In [81]:
rl_no_spec_nb = df['rl_no_spec']
# rl_no_spec_nb
i=0
while i <len(df['rl_no_spec']):    
    if (df['rl_no_spec'][i] == 0) | (df['rl_no_spec'][i] == '0') | (df['rl_no_spec'][i] == ''):
        rl_no_spec_nb[i] = 0
    else:
        y=0
        ln = 0
        while y < len(df['rl_no_spec'][i]):
            ln += int(df['rl_no_spec'][i][y])
            y+=1
        rl_no_spec_nb[i]=ln
    i+=1

C:\Users\SA012547\AppData\Local\Temp\ipykernel_17748\2644682857.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rl_no_spec_nb[i] = 0
C:\Users\SA012547\AppData\Local\Temp\ipykernel_17748\2644682857.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rl_no_spec_nb[i]=ln

In [82]:
df['sum1'] = rl_no_spec_nb

In [83]:
df['list_next']=df['nb_special_on_next_line']

In [84]:
next_no_spec_nb = df['nb_special_on_next_line']
# rl_no_spec_nb
i=0
while i <len(df['nb_special_on_next_line']):    
    if (df['nb_special_on_next_line'][i] == 0) | (df['nb_special_on_next_line'][i] == '0')| (df['nb_special_on_next_line'][i] == ['']):
        next_no_spec_nb[i] = 0
    else:
        y=0
        ln = 0
        while y < len(df['nb_special_on_next_line'][i]):
            ln += int(df['nb_special_on_next_line'][i][y])
            y+=1
#             print(ln)
        next_no_spec_nb[i]=ln
    i+=1

C:\Users\SA012547\AppData\Local\Temp\ipykernel_17748\1090380086.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  next_no_spec_nb[i] = 0
C:\Users\SA012547\AppData\Local\Temp\ipykernel_17748\1090380086.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  next_no_spec_nb[i]=ln

In [85]:
df['sum2'] = next_no_spec_nb

In [86]:
# OK jusqu'ici

In [87]:
# original = list(df.loc[:,'nb_single_special_char'].values)
# mod_prev_line = list(df.loc[:,'rl_clean'].values)
# "on remplace pour etre sur des syboles ajoutés"
df['rl_next_clean']=df['rl_next_clean'].replace(r'[^a-zA-Z0-9\.]','@', regex=True)

original = list(df.loc[:,'rl_next_clean'].values)
mod_prev_line = list(df.loc[:,'rl_next_clean'].values)
# on prend la col avec tjrs le mm charac special
to_find = '@'
it=0
idx_list = []


it=0
while it<len(original):
    new_v = original[it]
    idx_list= [int(i) for i, x in enumerate(new_v) if x == to_find]
#     print(idx_list)
#     if mod_next_line[it+]<len(original)-1:
    if not len(idx_list)==0:
#         print('not 0')
        idx=0
        while idx < len(idx_list):
#             print(idx, idx_list[idx])
#         for idx in idx_list:
            first_idx = 0
            second_idx = 2
#             third_idx = 3
            mod_prev_line[it-1] = insertChar(mod_prev_line[it-1], idx_list[idx] + first_idx + idx*2, '#' )
            mod_prev_line[it-1] = insertChar(mod_prev_line[it-1], idx_list[idx] + second_idx+ idx*2, '#' )
#             mod_prev_line[it-1] = insertChar(mod_prev_line[it-1], idx_list[idx] + third_idx+ idx*3, '#' )
#             print(idx_list[idx] + first_idx + idx*3, idx_list[idx] + second_idx+ idx*3, idx_list[idx] + third_idx+ idx*3)
            idx+=1
    it+=1
    
df['special_on_prev_line']=mod_prev_line

In [88]:
# rl_prev=df['special_on_prev_line'].replace(r'[^a-zA-Z0-9\.]', '##', regex=True)
rl_prev=df['special_on_prev_line'].replace(r'\.\d+\.\d+\.|\.\d+\.|^\d+\.|\.\d+$','.', regex=True)
rl_prev=rl_prev.replace(r'#+','', regex=True)
# rl_next=rl_next.replace(r'[^a-zA-Z0-9\.]','#', regex=True)
rl_prev=rl_prev.str.findall(r'\d+').str.join(',')

In [89]:
# on extrait maintenant les nombres pour prev
# rl_prev=df['special_on_prev_line']
# rl_prev=df['special_on_prev_line'].replace(r'\.\d+\.\d+\.|\.\d+\.|^\d+\.|\.\d+$','.', regex=True)
# rl_prev=rl_prev.replace(r'[^a-zA-Z0-9\.]','#', regex=True)
# rl_prev=rl_prev.str.findall(r'\d+').str.join(',')
# rl_prev
# df['nb_special_on_prev_line']=rl_prev
df['nb_special_on_prev_line']=rl_prev.groupby(rl_prev.index.get_level_values(0)).agg(list)
df['nb_special_on_prev_line'] = [','.join(map(str, l)) for l in df['nb_special_on_prev_line']]
df['nb_special_on_prev_line'] = df['nb_special_on_prev_line'].str.split(',')
df

,nb,rl,rl_no_spec,rl_clean,special_on_next_line,nb_special_on_next_line,list_1,rl_next_clean,len,sum1,list_next,sum2,special_on_prev_line,nb_special_on_prev_line
0,.......................153..988....502..842......,,0,.......................153..988....502..842......,.......................153..988....502..842......,0,,.......................153..988....502..842......,140,0,[],0,.......................153.#.#988...#.#502..84...,"[988, 502, 468, 481, 163, 992]"
1,............805............*......#..............,,0,............805............@......@..............,............805............@......@..............,0,,............805............@......@..............,140,0,[],0,............805.....#.#......@......@............,[]
2,........914.........#...617..201.........271.....,"[#230, #751]",981,........914.........@...617..201.........271.....,........914.........@...617#.#.201..#.#......2...,4178,"[230, 751]",........914.........@........201.........271.....,140,981,"[617, 671, 898, 847, 215, 393, 537]",4178,........91#4#.........@........2#0#1.........2...,"[914, 201, 271]"
3,..........#......361..........*...........*......,"[#4, 552#, #127]",683,..........@......361..........@...........@......,..........@......361#.#.........@...........@....,494,"[4, 552, 127]",..........@...................@...........@......,140,683,"[361, 133]",494,...#.#......@...................@.....#.#........,"[165, 609, 922, 706]"
4,490*..........................350...*...664......,"[490#, #25]",515,...@..........................350...@...664......,...@......#.#...................#3#50...@...66...,1097,"[490, 25]",...@................................@............,140,515,"[350, 664, 83]",1097,...@................................@............,"[806, 514, 31]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,...........365.......460.329.@......476..........,,0,...........365.......460.329.@......476..........,...........365.......460.329.@.....#.#476........,1402,,...........365.......460.329.@...................,140,0,"[476, 926]",1402,...........365#.#......4#6#0.3#2#9.@.............,"[365, 460, 329, 799]"
136,..............*.297...*...*......................,,0,..............@.297...@...@......................,..............@.297...@...@..#.#.................,2834,,..............@.297...@...@......................,140,0,"[473, 765, 967, 629]",2834,.......#.#......@.2#9#7...@...@..................,"[297, 753, 700, 111, 932, 125]"
137,.......+...261...&.......786.283....695.....48...,[#124],124,.......@...261...@.......786.283....695.....48...,.......@...261#.#..@....#.#..7#8#6.283....695....,1427,[124],.......@.........@...........283....695.....48...,140,124,"[261, 786, 380]",1427,.......@.........@.....#.#.....283....69#5#......,"[695, 486, 565, 536]"
138,......339..............*..............*....*.....,,0,......339..............@..............@....@.....,......3#3#9........#.#.....@..............@......,2087,,.......................@..............@....@.....,140,0,"[339, 996, 752]",2087,.......................@..............@....@.....,[]
139,.......................716...........551.631.....,,0,.......................716...........551.631.....,.......................#7#16...........5#5#1.6...,3179,,.................................................,140,0,"[716, 551, 631, 279, 373, 114, 515]",3179,.................................................,[]

In [90]:
df['list_3']=df['nb_special_on_prev_line']

In [91]:
prev_no_spec_nb = df['nb_special_on_prev_line']
# rl_no_spec_nb
i=0
while i <len(df['nb_special_on_prev_line']):    
    if (df['nb_special_on_prev_line'][i] == 0) | (df['nb_special_on_prev_line'][i] == '0')| (df['nb_special_on_prev_line'][i] == ['']):
        prev_no_spec_nb[i] = 0
    else:
        y=0
        ln = 0
        while y < len(df['nb_special_on_prev_line'][i]):
            ln += int(df['nb_special_on_prev_line'][i][y])
            y+=1
#             print(ln)
        prev_no_spec_nb[i]=ln
    i+=1

C:\Users\SA012547\AppData\Local\Temp\ipykernel_17748\3485209467.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_no_spec_nb[i]=ln
C:\Users\SA012547\AppData\Local\Temp\ipykernel_17748\3485209467.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_no_spec_nb[i] = 0

In [92]:
df['sum3'] = prev_no_spec_nb
df

,nb,rl,rl_no_spec,rl_clean,special_on_next_line,nb_special_on_next_line,list_1,rl_next_clean,len,sum1,list_next,sum2,special_on_prev_line,nb_special_on_prev_line,list_3,sum3
0,.......................153..988....502..842......,,0,.......................153..988....502..842......,.......................153..988....502..842......,0,,.......................153..988....502..842......,140,0,[],0,.......................153.#.#988...#.#502..84...,3594,"[988, 502, 468, 481, 163, 992]",3594
1,............805............*......#..............,,0,............805............@......@..............,............805............@......@..............,0,,............805............@......@..............,140,0,[],0,............805.....#.#......@......@............,0,[],0
2,........914.........#...617..201.........271.....,"[#230, #751]",981,........914.........@...617..201.........271.....,........914.........@...617#.#.201..#.#......2...,4178,"[230, 751]",........914.........@........201.........271.....,140,981,"[617, 671, 898, 847, 215, 393, 537]",4178,........91#4#.........@........2#0#1.........2...,1386,"[914, 201, 271]",1386
3,..........#......361..........*...........*......,"[#4, 552#, #127]",683,..........@......361..........@...........@......,..........@......361#.#.........@...........@....,494,"[4, 552, 127]",..........@...................@...........@......,140,683,"[361, 133]",494,...#.#......@...................@.....#.#........,2402,"[165, 609, 922, 706]",2402
4,490*..........................350...*...664......,"[490#, #25]",515,...@..........................350...@...664......,...@......#.#...................#3#50...@...66...,1097,"[490, 25]",...@................................@............,140,515,"[350, 664, 83]",1097,...@................................@............,1351,"[806, 514, 31]",1351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,...........365.......460.329.@......476..........,,0,...........365.......460.329.@......476..........,...........365.......460.329.@.....#.#476........,1402,,...........365.......460.329.@...................,140,0,"[476, 926]",1402,...........365#.#......4#6#0.3#2#9.@.............,1953,"[365, 460, 329, 799]",1953
136,..............*.297...*...*......................,,0,..............@.297...@...@......................,..............@.297...@...@..#.#.................,2834,,..............@.297...@...@......................,140,0,"[473, 765, 967, 629]",2834,.......#.#......@.2#9#7...@...@..................,2918,"[297, 753, 700, 111, 932, 125]",2918
137,.......+...261...&.......786.283....695.....48...,[#124],124,.......@...261...@.......786.283....695.....48...,.......@...261#.#..@....#.#..7#8#6.283....695....,1427,[124],.......@.........@...........283....695.....48...,140,124,"[261, 786, 380]",1427,.......@.........@.....#.#.....283....69#5#......,2282,"[695, 486, 565, 536]",2282
138,......339..............*..............*....*.....,,0,......339..............@..............@....@.....,......3#3#9........#.#.....@..............@......,2087,,.......................@..............@....@.....,140,0,"[339, 996, 752]",2087,.......................@..............@....@.....,0,[],0
139,.......................716...........551.631.....,,0,.......................716...........551.631.....,.......................#7#16...........5#5#1.6...,3179,,.................................................,140,0,"[716, 551, 631, 279, 373, 114, 515]",3179,.................................................,0,[],0

In [93]:
col_sum = ['sum1', 'sum2', 'sum3']
df['total']=df[col_sum].sum(axis=1)

In [94]:
sum(df['total'])

532867.0