In [19]:
import pandas as pd
df = pd.read_csv(
            r'C:\Users\SA012547\Documents\advent_of_code_2023\day4.txt',sep=':', encoding='latin-1', header=None) #['nb_game', 'liste_cube'])

In [20]:
df.columns=['card', 'nb']
df[['win', 'mine']] = df['nb'].str.split('|', n=1, expand=True)

In [21]:
df['win']= df['win'].str.split(' ')
df['mine']= df['mine'].str.split(' ')

In [22]:
import numpy as np
df['intersection'] = [list(set(a).intersection(set(b))) 
                      for a, b in zip(df.win, df.mine)]
df['len']=(df['intersection'].str.len()-1)
df['point']=np.where(df['len'] == 0,0, 2**(df['len'])/2)  # /2 car 2**df['len'] pose souci avec -1? meme avec le np.where
df

,card,nb,win,mine,intersection,len,point
0,Card 1,33 13 28 76 16 91 52 41 38 64 | 52 10 7 61 1...,"[, 33, 13, 28, 76, 16, 91, 52, 41, 38, 64, ]","[, 52, 10, , 7, 61, 12, 70, 84, 38, 16, 40, , ...","[, 38, 33, 28, 16, 52]",5,16.0
1,Card 2,96 34 61 84 30 70 67 52 94 43 | 6 11 59 96 2...,"[, 96, 34, 61, 84, 30, 70, 67, 52, 94, 43, ]","[, , 6, 11, 59, 96, 25, 36, 67, 84, 43, 40, 55...","[, 67, 96, 30, 84, 43]",5,16.0
2,Card 3,72 40 28 93 22 20 2 79 99 87 | 66 95 26 57 7...,"[, 72, 40, 28, 93, 22, 20, , 2, 79, 99, 87, ]","[, 66, 95, 26, 57, 75, 45, 31, 25, , 5, 94, 55...",[],0,0.0
3,Card 4,62 38 16 54 39 36 60 73 91 89 | 2 69 5 49 2...,"[, 62, 38, 16, 54, 39, 36, 60, 73, 91, 89, ]","[, , 2, 69, , 5, 49, 23, 90, 78, 91, 45, 14, 2...","[, 38, 91, 16]",3,4.0
4,Card 5,94 53 56 21 41 99 42 74 66 84 | 5 3 99 38 6...,"[, 94, 53, 56, 21, 41, 99, 42, 74, 66, 84, ]","[, , 5, , 3, 99, 38, 67, 84, 66, 45, 24, 76, 9...","[, 21, 41, 56, 94, 74, 66, 84, 42, 99]",9,256.0
...,...,...,...,...,...,...,...
206,Card 207,51 22 90 8 72 78 61 97 25 24 | 93 59 91 87 ...,"[, 51, 22, 90, , 8, 72, 78, 61, 97, 25, 24, ]","[, 93, 59, 91, 87, , 2, 28, 35, 16, 76, 34, 49...","[, 51]",1,1.0
207,Card 208,79 15 9 29 75 21 18 54 12 32 | 38 26 17 58 9...,"[, 79, 15, , 9, 29, 75, 21, 18, 54, 12, 32, ]","[, 38, 26, 17, 58, 96, 51, 18, 73, 35, 16, 49,...","[, 18, 75, 29]",3,4.0
208,Card 209,81 45 40 33 88 41 95 89 15 51 | 31 41 14 55 7...,"[, 81, 45, 40, 33, 88, 41, 95, 89, 15, 51, ]","[, 31, 41, 14, 55, 76, 58, 23, 73, 12, 10, 69,...","[, 41, 95]",2,2.0
209,Card 210,59 34 33 58 87 69 61 50 57 51 | 92 75 30 68 7...,"[, 59, 34, 33, 58, 87, 69, 61, 50, 57, 51, ]","[, 92, 75, 30, 68, 71, 53, 27, 36, 83, , 6, 46...",[],0,0.0
210,Card 211,64 96 60 28 57 95 52 85 61 24 | 72 81 21 30 1...,"[, 64, 96, 60, 28, 57, 95, 52, 85, 61, 24, ]","[, 72, 81, 21, 30, 10, 77, 97, 69, 68, 34, 83,...",[],0,0.0

In [23]:
sum(df['point'])

23673.0