In [121]:
import pandas as pd
df = pd.read_csv(
            r'C:\Users\SA012547\Documents\advent_of_code_2023\day8.txt',sep=':', encoding='latin-1', header=None) #['nb_game', 'liste_cube'])

df.columns=['info']
instructions = df['info'].iloc[0]

In [122]:
df=df.tail(-1).reset_index(drop=True)
df[['info', 'inst']] = df['info'].str.split('=', n=1, expand=True)
df['info']=df['info'].str.strip()
df['inst']=df['inst'].str.replace('\(|\)| ', '', regex=True)
df[['L', 'R']] = df['inst'].str.split(',', n=1, expand=True)
df.head(3)

  info     inst    L    R
0  CGM  SFJ,BVH  SFJ  BVH
1  HRM  PBG,QHK  PBG  QHK
2  BJR  JJM,BPB  JJM  BPB

In [123]:
i =0
step=0
spot = 'AAA'
while i <len(instructions):
    if instructions[i]=='L':
        spot = df[df['info'] == spot]['L'].values[0]
        step+=1
    elif instructions[i]=='R':
        spot = df[df['info'] == spot]['R'].values[0]
        step+=1
    if spot == 'ZZZ':
#     if spot.endswith('Z'):
        print('destination', step)
        break
    if spot != 'ZZZ' and i == len(instructions)-1:
        i=-1
    i+=1
print(step)

destination 16531
16531

In [124]:
import pandas as pd
df = pd.read_csv(
            r'C:\Users\SA012547\Documents\advent_of_code_2023\day8.txt',sep=':', encoding='latin-1', header=None) #['nb_game', 'liste_cube'])

df.columns=['info']
instructions = df['info'].iloc[0]
print(instructions, len(instructions))
df=df.tail(-1).reset_index(drop=True)
df[['info', 'inst']] = df['info'].str.split('=', n=1, expand=True)
df['info']=df['info'].str.strip()
df['inst']=df['inst'].str.replace('\(|\)| ', '', regex=True)
df[['L', 'R']] = df['inst'].str.split(',', n=1, expand=True)
df

LLRLRRRLLRRRLRRLRRLRLRRRLRRRLRLLRLRRLRRLRLLRRLRRRLRRLRLRLRLRRRLRRLRLLLRRLRRRLLLRLRRRLRRRLLRRLRRRLRLRRRLLLRRLLRRLRRLLLRRRLRRRLRRRLRRLLRLRLRLRRRLRLRLRRLRRLRLRRRLRRLRRRLRRRLLLRLRRLRRLRLLRRLLRRLRRLLRLRRLRRLRLRLLLRLLRRLRRLRRRLLRRLLRRRLRRLRRRLRRRLLRRRLRRRLLRRRLRLRLLRRLRLRLRRRR 271

    info     inst    L    R
0    CGM  SFJ,BVH  SFJ  BVH
1    HRM  PBG,QHK  PBG  QHK
2    BJR  JJM,BPB  JJM  BPB
3    JTG  RMK,GCR  RMK  GCR
4    NSG  QLT,LTH  QLT  LTH
..   ...      ...  ...  ...
809  HQQ  LMK,CCH  LMK  CCH
810  XKS  HPD,BLM  HPD  BLM
811  BGK  SMV,LNS  SMV  LNS
812  MBM  LRM,PFD  LRM  PFD
813  MCT  XCM,PJG  XCM  PJG

[814 rows x 4 columns]

In [125]:
# get list of starting positions
start = df[df['info'].str.endswith('A')]
start = start['info'].tolist()
start

['MLA', 'BQA', 'MJA', 'AAA', 'TGA', 'BJA']

In [126]:

# start_list = ['11A', '22A']  # for ex
start_list=start
# start_list= ['MLA']
# nb_step = dict.fromkeys(start_list,  [])
nb_step = {key: [] for key in start_list}
print(nb_step)
current_step={key: 0 for key in start_list}
current_place={key: [key] for key in start}
# current_place={'11A':['11A'], '22A':['22A']}
min_step={key: 0 for key in start_list}
# print(current_step, current_place)
# for sp in start_list:
spot=0
i = 0
step=0
inst = instructions
nb_z=0
total_step = 0
while i <len(inst):
    if (all(value > 0 for value in current_step.values())):
        print(current_step)
        break
    if nb_z == len(start):
        print('fini!',total_step, nb_z, ' Z')
        print(nb_step[place], 'current_step', current_step[place])
        break
    total_step +=1
    nb_z=0
    for place in current_place:
#         print(place)
        if current_step[place] !=0:
#             print(current_step[place])
#             print('break')
            next
#         sp=current_place[place][len(current_place[place])-1]
        sp=current_place[place][-1]
        if inst[i]=='L':
#             current_step[place]+=1
            spot = df[df['info'] == sp]['L'].values[0]
            current_place[place].pop(0)
            current_place[place].append(spot)
        elif inst[i]=='R':
#             current_step[place]+=1
            spot = df[df['info'] == sp]['R'].values[0]
            current_place[place].pop(0)
            current_place[place].append(spot)
            
        if spot.endswith('Z'):
#             nb_step[place].append(current_step[place])
            nb_z +=1
            print('Z ',total_step, nb_z, place, df[df['info'] == sp]['L'].values[0], df[df['info'] == sp]['R'].values[0])
            if current_step[place] ==0:
                current_step[place]=total_step
#         if nb_z == len(start):
#             print('fini!', nb_z, ' Z')
#             print(nb_step[place], 'current_step', current_step[place])
#             break
        if (i == len(inst)-1): 
            i=-1
        
    i+=1
print(nb_step)

{'MLA': [], 'BQA': [], 'MJA': [], 'AAA': [], 'TGA': [], 'BJA': []}
Z  14363 1 BJA XQD TMZ
Z  16531 1 AAA PTJ ZZZ
Z  18157 1 BQA RCH BDZ
Z  19241 1 MLA SJH KPZ
Z  19783 1 MJA KVM GNZ
Z  21409 1 TGA PMB RFZ
{'MLA': 19241, 'BQA': 18157, 'MJA': 19783, 'AAA': 16531, 'TGA': 21409, 'BJA': 14363}
{'MLA': [], 'BQA': [], 'MJA': [], 'AAA': [], 'TGA': [], 'BJA': []}

In [127]:
min_path = 1
min_path = [x for x in current_step.values()]
min_path
# [x*y for x, y in zip(min_path, min_path[1:])]

[19241, 18157, 19783, 16531, 21409, 14363]

In [128]:
#lcm = least common multiplier

from math import lcm
lcm(19241, 18157, 19783, 16531, 21409, 14363)

24035773251517