In [1]:
import pandas as pd
df = pd.read_csv(
            r'day8_ex.txt',sep=':', encoding='latin-1', header=None) #['nb_game', 'liste_cube'])

df.columns=['info']
instructions = df['info'].iloc[0]

In [3]:
df=df.tail(-1).reset_index(drop=True)
df[['info', 'inst']] = df['info'].str.split('=', n=1, expand=True)
df['info']=df['info'].str.strip()
df['inst']=df['inst'].str.replace('\(|\)| ', '', regex=True)
df[['L', 'R']] = df['inst'].str.split(',', n=1, expand=True)
df.head(3)

  info     inst    L    R
0  AAA  BBB,BBB  BBB  BBB
1  BBB  AAA,ZZZ  AAA  ZZZ
2  ZZZ  ZZZ,ZZZ  ZZZ  ZZZ

In [5]:
i =0
step=0
spot = 'AAA'
while i <len(instructions):
    if instructions[i]=='L':
        spot = df[df['info'] == spot]['L'].values[0]
        step+=1
    elif instructions[i]=='R':
        spot = df[df['info'] == spot]['R'].values[0]
        step+=1
    if spot == 'ZZZ':
#     if spot.endswith('Z'):
        print('destination', step)
        break
    if spot != 'ZZZ' and i == len(instructions)-1:
        i=-1
    i+=1
print(step)

destination 6
6

In [19]:
import pandas as pd
df = pd.read_csv(
            r'day8.txt',sep=':', encoding='latin-1', header=None) #['nb_game', 'liste_cube'])

df.columns=['info']
instructions = df['info'].iloc[0]
print(instructions, len(instructions))
df=df.tail(-1).reset_index(drop=True)
df[['info', 'inst']] = df['info'].str.split('=', n=1, expand=True)
df['info']=df['info'].str.strip()
df['inst']=df['inst'].str.replace('\(|\)| ', '', regex=True)
df[['L', 'R']] = df['inst'].str.split(',', n=1, expand=True)
df

LLRLRRRLLRRRLRRLRRLRLRRRLRRRLRLLRLRRLRRLRLLRRLRRRLRRLRLRLRLRRRLRRLRLLLRRLRRRLLLRLRRRLRRRLLRRLRRRLRLRRRLLLRRLLRRLRRLLLRRRLRRRLRRRLRRLLRLRLRLRRRLRLRLRRLRRLRLRRRLRRLRRRLRRRLLLRLRRLRRLRLLRRLLRRLRRLLRLRRLRRLRLRLLLRLLRRLRRLRRRLLRRLLRRRLRRLRRRLRRRLLRRRLRRRLLRRRLRLRLLRRLRLRLRRRR 271

    info     inst    L    R
0    CGM  SFJ,BVH  SFJ  BVH
1    HRM  PBG,QHK  PBG  QHK
2    BJR  JJM,BPB  JJM  BPB
3    JTG  RMK,GCR  RMK  GCR
4    NSG  QLT,LTH  QLT  LTH
..   ...      ...  ...  ...
809  HQQ  LMK,CCH  LMK  CCH
810  XKS  HPD,BLM  HPD  BLM
811  BGK  SMV,LNS  SMV  LNS
812  MBM  LRM,PFD  LRM  PFD
813  MCT  XCM,PJG  XCM  PJG

[814 rows x 4 columns]

In [21]:
# get list of starting positions
start = df[df['info'].str.endswith('A')]
start = start['info'].tolist()
start

['MLA', 'BQA', 'MJA', 'AAA', 'TGA', 'BJA']

In [13]:

# start_list = ['11A', '22A']  # for ex
start_list=start
# start_list= ['MLA']
# nb_step = dict.fromkeys(start_list,  [])
nb_step = {key: [] for key in start_list}
print(nb_step)

for sp in start_list:
    spot=sp
    i = 0
    step=0
    inst = instructions
    while i <len(inst):
        if inst[i]=='L':
            spot = df[df['info'] == spot]['L'].values[0]
            step+=1
        elif inst[i]=='R':
            spot = df[df['info'] == spot]['R'].values[0]
            step+=1
        if spot.endswith('Z'):
            nb_step[sp].append(step)
            
#             print('destination', step, nb_step)
#             break
        if (i == len(inst)-1): # and (not spot.endswith('Z')):
            i=-1
        if len(nb_step[sp])>400:
            break
        i+=1
print(nb_step)

{'11A': [], '22A': []}
{'11A': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802], '22A': [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999, 1002, 1005, 1008, 1011, 1014, 1017, 1020, 1023, 1026, 1029, 1032, 1035, 1038, 1041, 1044, 1047, 1050, 1053, 1056, 1059, 1062, 1065, 1068, 1071, 1074, 1077, 1080, 1083, 1086, 1089, 1092, 1095, 1098, 1101, 1104, 1107, 1110, 1113, 1116, 1119, 1122, 1125, 1128, 1131, 1134, 1137, 1140, 1143, 1146, 1149, 1152, 1155, 1158, 1161, 1164, 1167, 1170, 1173, 1176, 1179, 1182, 1185, 1188, 1191, 1194, 1197, 1200, 1203]}

In [25]:

# start_list = ['11A', '22A']  # for ex
start_list=start
start=['MLA', 'BQA']  #, 'MJA', 'AAA', 'TGA', 'BJA']
# start_list= ['MLA']
# nb_step = dict.fromkeys(start_list,  [])
nb_step = {key: [] for key in start_list}
print(nb_step)
current_step={key: 0 for key in start_list}
current_place={key: [key] for key in start}
# current_place={'11A':['11A'], '22A':['22A']}

print(current_step, current_place)
# for sp in start_list:
spot=0
i = 0
step=0
inst = instructions
nb_z=0
total_step = 0
while i <len(inst):
    if nb_z == len(start):
        print('fini!',total_step, nb_z, ' Z')
        print(nb_step[place], 'current_step', current_step[place])
        break
    total_step +=1
    nb_z=0
    for place in current_place:
        sp=current_place[place][len(current_place[place])-1]
        if inst[i]=='L':
#             current_step[place]+=1
            spot = df[df['info'] == sp]['L'].values[0]
            current_place[place].pop(0)
            current_place[place].append(spot)
            # print(current_place)
        elif inst[i]=='R':
#             current_step[place]+=1
            spot = df[df['info'] == sp]['R'].values[0]
            current_place[place].pop(0)
            current_place[place].append(spot)
            
        if spot.endswith('Z'):
#             nb_step[place].append(current_step[place])
            nb_z +=1
            print('Z', nb_z)
            
#         if nb_z == len(start):
#             print('fini!', nb_z, ' Z')
#             print(nb_step[place], 'current_step', current_step[place])
#             break
        if (i == len(inst)-1): 
            i=-1
        
    i+=1
print(nb_step)

{'MLA': [], 'BQA': [], 'MJA': [], 'AAA': [], 'TGA': [], 'BJA': []}
{'MLA': 0, 'BQA': 0, 'MJA': 0, 'AAA': 0, 'TGA': 0, 'BJA': 0} {'MLA': ['MLA'], 'BQA': ['BQA']}
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1
Z 1

KeyboardInterrupt:

In [138]:
all_values = [i for i in nb_step.values()]
elements_in_all = set(all_values[0]).intersection(*all_values[1:])
min(elements_in_all)

6

In [120]:
dic_df=pd.DataFrame.from_dict(nb_step)
dic_df

         AAA      TGA      BJA
0      16531    21409    14363
1      33062    42818    28726
2      49593    64227    43089
3      66124    85636    57452
4      82655   107045    71815
..       ...      ...      ...
96   1603507  2076673  1393211
97   1620038  2098082  1407574
98   1636569  2119491  1421937
99   1653100  2140900  1436300
100  1669631  2162309  1450663

[101 rows x 3 columns]

In [124]:
list(set.intersection(*[set(col) for col in dic_df.T.values]))

[]

In [81]:
for k,v in nb_step.items():
    print(k,v)

11A [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]
22A [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33]

In [82]:
print([i for i in nb_step])
print([i for i in nb_step.values()])
[x for x in nb_step['11A'] if x in nb_step['22A']]

['11A', '22A']
[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33]]

[6, 12, 18]

In [76]:
all_values = [i for i in nb_step.values()]
elements_in_all = set(all_values[0]).intersection(*all_values[1:])
elements_in_all

{6}